In [1]:
# List of high schools

high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.

high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
# Add list of high schools.

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
# Add the Pandas dependency

import pandas as pd

In [12]:
# Create a Pandas series from a list.

school_series = pd.Series(high_schools)

In [13]:
# A dictionary of high schools

high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [14]:
# Creating a Pandas data fram from a list of dictionaries.

school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Three separate lists of information on high schools

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [18]:
# Initialize an empty data frame

schools_df = pd.DataFrame()

In [22]:
# Add the list to a new data frame.

schools_df["School ID"] = school_id 
schools_df["School Name"] = school_name 
schools_df["Type"] = type_of_school

# Print the data frame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Create a dictionary of information for high schools

high_schools_dict = {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}

In [25]:
# Convert dictionary to a dataframe

high_schools_df = pd.DataFrame(high_schools_dict)

high_schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [27]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [35]:
practice_df = pd.DataFrame()

In [36]:
school_id_list = ["0", '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14']
school_name_list = ['Huang HS', 'Figueroa HS', 'Shelton HS', 'Hernandez HS', 'Griffin HS', 'Wilson HS', 
                    'Cabrera HS', 'Bailey HS', 'Holden HS', 'Pena HS', 'Wright HS', 'Rodriguez HS',
                   'Johnson HS', 'Ford HS', 'Thomas HS']
school_type_list = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter',
                   'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

In [39]:
practice_df["School ID"] = school_id_list 
practice_df["School Name"] = school_name_list 
practice_df["Type"] = school_type_list

practice_df

   School ID   School Name      Type
0          0      Huang HS  District
1          1   Figueroa HS  District
2          2    Shelton HS   Charter
3          3  Hernandez HS  District
4          4    Griffin HS   Charter
5          5     Wilson HS   Charter
6          6    Cabrera HS   Charter
7          7     Bailey HS  District
8          8     Holden HS   Charter
9          9       Pena HS   Charter
10        10     Wright HS   Charter
11        11  Rodriguez HS  District
12        12    Johnson HS  District
13        13       Ford HS  District
14        14     Thomas HS   Charter